<h1>Update or edit your post here</h1>

<form action="/posts/<%= @post.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label>Title: <input type="text" name="title" id="title" value="<%= @post.title %>"></label>
  <br>
  <label>Content: <input type="text" name="content" id="content" value="<%= @post.content %>"></label>
  <br>
  <input type="submit" value="Submit">
</form>
