<h1>Enter a New Post here</h1>

<form class="" action="/posts" method="POST">
  <label>Title: <input type="text" name="title" id="title"></label>
  <br>
  <label>Post: <input type="text" name="content" id="content"></label>
  <br>
  <input type="submit" value="Submit">
</form>
