<h1>Your post will show or display here</h1>

<h3><%= @post.title %></h3>
<h4><%= @post.content %></h4>

<form action="/post/<%= @post.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Post">
</form>
